server:
  port: 8080

spring:
  application:
    name: api-gateway
  
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:4200"
              - "http://localhost:4201"
              - "http://localhost:4202"
              - "http://localhost:4203"
              - "http://localhost:4300"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders:
              - "*"
            allowCredentials: true
      
      routes:
        - id: user-service-auth
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**
        
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/users/**
        
        - id: product-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/products/**
        
        - id: order-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/orders/**
        
        - id: chatbot-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/chatbot/**
        
        - id: recommendation-service
          uri: http://localhost:8085
          predicates:
            - Path=/api/recommendations/**
        
        - id: recommendation-health
          uri: http://localhost:8085
          predicates:
            - Path=/recommendations/health

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway

logging:
  level:
    org.springframework.cloud.gateway: DEBUG

